<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="EventHubConnectionString" 
         value="Endpoint=sb://glss-eventhub-ns.servicebus.windows.net/;SharedAccessKeyName=sendreceive;SharedAccessKey=uWDsZSxdF1Feb0LwSL3v5VuViW7uqyt7O1e0fJeXCoU=;EntityPath=glss-sensor-events"/>-->
    <add key="EventHubConnectionString" 
         value="Endpoint=sb://glss-eventhub-ns.servicebus.windows.net/;SharedAccessKeyName=SendListenPolicy;SharedAccessKey=Pf6Kbmsrx3r+Kn2HvU1f0HOMxKzxX7JDlDgzlKrPowI=;EntityPath=glss-ehub"/>

    <add key="RegistrationStore.SystemType" value="sentience-training-1" />
    <add key="RegistrationStore.SystemId" value="XX:XX:XX:XX:XX" />
    <!--PrivateKey is required for InMemory KeyStore-->
    <add key="RegistrationStore.PrivateKey" value="RUNT....." />
    <!--KeyName is required for Cng KeyStore.-->
    <!--<add key="RegistrationStore.KeyName" value="" />-->
    <add key="RegistrationStore.AuthenticationWebUrl" value="https://gatqasystemauthentication.testqa-cbp.honeywell.com/" />
    <add key="RegistrationStore.RegistrationWebUrl" value="https://gatqaregui.testqa-cbp.honeywell.com/" />

    <add key="HistoryConfiguration.GetHistoryBackfillSendFrequencySeconds" value="3600" />
    <add key="HistoryConfiguration.GetHistorySendFrequencySeconds" value="60" />
    <add key="HistoryConfiguration.GetMaxHistorySamplesPerMessage" value="10000" />
    <add key="HistoryConfiguration.GetMaxIntervalsPerHistoryRead" value="10" />
    <add key="HistoryConfiguration.GetMaxPointsPerHistoryRead" value="100" />
    <add key="HistoryConfiguration.GetModelTranslationBatchSize" value="500" />
    <add key="HistoryConfiguration.GetStandardHistoryIntervalMilliseconds" value="60000" />

    <add key="Alarm.Enabled" value="false" />
    <add key="Alarm.RecoverAlarmSize" value="10" />
    <add key="Alarm.NewAlarmSendFrequencySeconds" value="60" />
    <add key="Alarm.DeleteAlarmSendFrequencySeconds" value="30" />
    <add key="Alarm.AlarmBatchSendCount" value="1" />
    <add key="Alarm.DeleteAlarmAfterDays" value="2" />
    <add key="Alarm.MaxAlarmCountSupported" value="1000" />

    <add key="Event.BackfillMaxEventsPerBatch" value="1000" />
    <!-- -1: event backfill from last pulled datetime, 0 no event backfill, <minutes> back fill specifed minutes-->
    <add key="Event.BackfillMinutesOnConnectionLost" value="0" />
    <add key="Event.BackfillReadFrequencySeconds" value="5" />

    <!--configuration for CC.Example-->
    <add key="Event.NewEventSendFrequencySeconds" value="30" />
    <add key="Event.EventCountPerMessage" value="3" />
    <add key="History.PointNumberPerMessage" value="100" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>